//Globals
$color-base: #000000;
$color-white: #ffffff;

//Light Theme Default Type Colors
$color-bg: #EEEEEE;
$color-bg-footer: rgba(0, 0, 0, 0.04);
$color-primary: #000000;
$color-secondary: rgba(0, 0, 0, 0.54);
$color-active: rgba(191, 191, 191, 0.38);
$color-disabled: rgba(0, 0, 0, 0.28);

//Theme Colors
$color-red: #FF0000;
$color-red-dark: #4a0f0f;
$color-blue: #2BA9E0;
$color-light_blue: #32c4ee;
$color-purple: #5b2d6d;