$link-transition: .2s ease color;
$box-shadow-standard: 0px 1px 4px -1px rgba(0,0,0,0.75);
$box-shadow-large: 0px 1px 18px -1px rgba(0, 0, 0,.75);
$text-shadow-small: 1px 1px 1px rgba(0,0,0,.1);
$text-shadow-standard: 1px 1px 1px rgba(0,0,0,.3);
$text-shadow-large: 1px 1px 10px rgba(0,0,0,.5);