.author_info-the_author{
  color: $color-primary;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: $margin-standard;
  font-size: $font-size-medium;
  font-family: $font-family-Roboto;
  display: inline-block;
  padding-bottom: $padding-standard;
  &:nth-of-type(1){
    margin-left: 0;
  }
  .the_author-avatar{
    @extend .image-circular;
    margin-right: .5em;
    display: inline-block;
  }
  .the_author-name_and_role{
    display: inline-block;
    padding: $padding-small $padding-small 0 0;
    vertical-align: top;
    .name_and_role-the_role{
      color: $color-secondary;            
      display: block;
    }
  }
}