.author_info-the_author{
  color: $color-primary;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: $margin-smaller;
  font-size: $font-size-medium;
  font-family: $font-family-Roboto;
  display: inline-block;
  &:nth-of-type(1){
    margin-left: 0;
  }
  .the_author-avatar{
    @extend .image-circular;
    margin-right: .5em;
    float: left;
  }
  .the_author-name_and_roll{
    display: inline-block;
    padding-top: $padding-small;
    .name_and_roll-the_role{
      color: $color-secondary;            
      display: block;
    }
  }
}