/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
  margin: $margin-standard 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 .5em .5em;
}

.alignleft {
  float: left;
  margin: 5px .5em .5em 0;
}

@media (max-width: $screen-smallest)  {
  .alignright, .alignleft {
    width: 100% !important;
    max-width: 100% !important;
    padding: $padding-smaller !important;
    margin: $margin-smaller 0 !important;
    float: none;
  }
}

a {
  img.alignright {
    float: right;
    margin: 5px 0 .5em .5em;
  }
  
  img.alignnone {
    margin: $margin-standard 0;
  }
  
  img.alignleft {
    float: left;
    margin: 5px .5em .5em 0;
  }
  
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 100%; 
  padding: 5px 3px 10px;
  text-align: center;
    display: inline-block;
  &.alignnone {
    margin: $margin-standard 0;
  }
  &.alignleft {
    margin: 5px 20px 20px 0;
    display: block;
  }
  &.aligncenter{
    text-align: center;
  }
  &.alignright {
    margin: 5px 0 20px 20px;
    display: block;
  }
  img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
    &.aligncenter {
      display: inline-block;
    }
  }
  p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

//Comments
#respond{
  h3{
    font-weight: $font-weight-bold;
    border-top: $border-thick;
    color: $color-secondary;
    padding: $padding-smaller 0;
    margin-bottom: 0;
  }
  .comments-notice{
    padding: $padding-smaller;
    background: $color-light_blue;
    margin-bottom: $margin-smaller;
    font-weight: $font-weight-bold;
  }
  .required{
    color: $color-red;
  }
  input, textarea{
    font-family: $font-family-Roboto;
    font-size: $font-size-medium;
  }
  .comment-input_group{
    position: relative;
    margin: $margin-standard 0;
    .input_group-input {
      font-size: 18px;
      padding: 0 10px 10px 5px;
      display: block;
      width: 100%;
      resize: none;
      border: none;
      border-bottom: 1px solid #757575;
      &:focus {
        outline: none;
      }
      &:focus ~ .input_group-label {
        top: -20px;
        font-size: 14px;
      }
      &:focus ~ .input_group-bar:before, &:focus ~ .input_group-bar:after {
        width: 50%;
      }
      &:focus ~ .input_group-highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
      }
    }
    .input_group-label {
      color: #999;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .input_group-bar {
      position: relative;
      display: block;
      width: 100%;
      &:before, &:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
    .input_group-highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
    @-webkit-keyframes inputHighlighter {
      from {
        background: #5264AE;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @-moz-keyframes inputHighlighter {
      from {
        background: #5264AE;
      }
      to {
        width: 0;
        background: transparent;
      }
    }

    @keyframes inputHighlighter {
      from {
        background: #5264AE;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }
  #submit {
    @extend .button, .button.button-red;
    margin-right: $margin-standard;
  }
}

/* WordPress Plugins
-------------------------------------------------------------- */
.footnotes{
  border-top: $border-standard;
  border-bottom: $border-standard;
  font-size: $font-size-smaller;
  color: $color-secondary;
  li{
    padding-bottom: $padding-smaller;
  }
}
.gform_button{
  @extend .button, .button-red;
  margin-top: -18px !important;
}