.badge{
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 52px;
  height: 38px;
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
  &.badge-vianola{
    background-image: url('images/badge-vianola.svg');
  }
  &.badge-new_orleans_historical{
    background-image: url('images/badge-new_orleans_historical.png');
  }
  &.badge-nolavie{
    background-image: url('images/badge-nolavie.svg');
  }
  &.badge-small{
    width: 40px;
    height: 29px;
  }
}