.badge{
  display: inline-block;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 90px;
  height: 36px;
  z-index: 1;
  &.badge-vianola{
    background-image: url('images/badge-vianola.svg');
  }
  &.badge-new_orleans_historical{
    background-image: url('images/badge-new_orleans_historical.png');
  }
  &.badge-nolavie{
    background-image: url('images/badge-nolavie.svg');
  }
  &.badge-small{
    width: 50px;
    height: 20px;
  }
}