.badge{
  display: inline-block;
  font-family: $font-family-Roboto;
  font-weight: $font-weight-bold;
  font-size: 1em;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 91px;
  height: 37px;
  padding: 3px;
  z-index: 1;
  color: $color-white;
  text-shadow: 1px 1px 4px black;
  &.badge-small{
    width: 51px;
    height: 21px;
    font-size: .8em;
  }
  &.bage-image{
    width: 100%;
    height: auto;
  }
}