//Masthead Posts
.feature-masthead_posts {
  position: relative;
  padding: 0;
  white-space: nowrap;
  height: 18em;
  text-align: center;
  overflow: hidden;
  @media only screen and (max-width: $screen-small) {
  	height: 15em;
  }
  .masthead_posts-control_prev, .masthead_posts-control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: .2em;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 34px;
    opacity: 0.8;
    cursor: pointer;
  }
  .masthead_posts-control_next {
    right: 0;
  }
  .masthead_posts-control_prev {
    right: 97.6vw;
  }
  .masthead_posts-swipe {
  	position: absolute;
    z-index: 999;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none; 
    @media only screen and (max-width: $screen-small) {
		  display: block;    
	  }
  }

  .masthead_posts-slider {
    height: 100%;
    position: relative;
    .slider-listed_post {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: $color-secondary;
      display: inline-block;
      height: 100%;
      width: 40em;
      text-decoration: none;
      color: $color-white;
      position: relative;
      margin-left: -4px;
      @media only screen and (max-width: $screen-small) {
    	  width: 100vw;    
      }
      .listed_post-overlay {
        @extend .image_overlay;
      }
      .listed_post-h3 {
        @extend .h3;

        font-family: $font-family-PTSerif;
        left: 0;
        bottom: 45px;
        text-align: center;
        white-space: pre-line;
      }
      .listed_post-button_play {
        @extend .button-play;
      }
      .listed_post-badge{
        position: absolute;
        right: 20px;
        top: 20px;
      }
      .listed_post-button_play, .listed_post-h3, .listed_post-meta_title {
        position: absolute;
        z-index: 1;
        text-align: center;
        left: 0;
        width: 100%;
        text-shadow: $text-shadow-standard;
      }

      .listed_post-meta_title {
        @extend .meta_title;

        bottom: 20px;
        color: $color-white;
      }
    }
  }
}

//Archive Masthead
.feature-archive_masthead {
  background: $color-red-dark;
  padding: $padding-larger $padding-standard;
  color: $color-white;
  box-shadow: inset 0px 1px 130px black;
  text-shadow: $text-shadow-standard;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: $screen-medium) {
    padding: $padding-small $padding-small;
  }
  @media only screen and (max-width: $screen-small) {
    padding: 0;
  }
  .archive_masthead-background_image {
    @extend .background-blur;
  }
  .archive_masthead-masthead_content {
    padding: $padding-standard;
    .masthead_content-archive_image {
      @extend .image-circular;
      width: 7.8em;
      height: 7.8em;
      margin-right: $margin-standard;
      @extend .no_mobile;
    }
    .masthead_content-archive_description {
      @extend .lead;
    }
    .masthead_content-archive_title {
      @extend h1;
    }
    .masthead_content-subcategories{
      padding: $padding-standard 0 0;
      .subcategories-link{
        @extend .button, .button-red, .button-small;
        background: rgba(0, 0, 0, 0.3);
        transition: background .2s;
        &:hover{
          background: rgba(0, 0, 0, 1)
        }
      }
    }
  }
}

//404 Notice
.feature-404_notice {
  padding: $padding-standard 0;
  height: 500px;
  font-size: $font-size-medium;

  p {
    @extend .lead;
  }
}

//Recent Posts
.feature-recent_posts {
  width: 100%;
  border-bottom: $border-standard;
  padding-top: $padding-standard;
  .recent_posts-title{
    @extend .section_title;
  }
  .recent_posts-loop_content {
    .loop_content-listed_post{
      position: relative;
      display: inline-block;
      width: 100%;
      background-color: white;
      font-family: $font-family-PTSerif;
      border-right: $border-standard;
      border-left: $border-standard;
      &:first-of-type{
        .listed_post-title, .listed_post-excerpt{
          padding-right: $padding-standard;
        }
      }
      .listed_post-title, .listed_post-image, .listed_post-excerpt{
        display: inline-block;
      }
      .listed_post-title, .listed_post-excerpt{
        width: 100%;
        padding: 0 75px 0 $padding-standard;
      }
      .listed_post-title{
        @extend h4;
      }
      .listed_post-image {
        padding-bottom: $padding-image_ratio;
        margin-bottom: $padding-standard;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: inline-block;
        border-top: $border-standard;
      }
      .listed_post-excerpt {
        color: $color-secondary;
        margin-bottom: $padding-standard;
      }
      .listed_post-badge{
        position: absolute;
        top: 10px;
        right: 10px;
      }

    }
  }
}

//Suggested Content
.feature-suggested_content {
  width: 100%;
  padding-top: $padding-standard;
  .suggested_content-title{
    @extend .section_title;
    margin: 0 1%;
  }
  .suggested_content-loop_content { 
    @extend .table;   
    width: 100%;
    .loop_content-listed_medium{
      float: left;
      width: 31.3333333%;
      margin: 1%;
      @media only screen and (max-width: $screen-medium) {
        width: 48%
      }
      @media only screen and (max-width: $screen-smallest) {
        width: 98%
      }
    }
  }
}

//Media Masthead
.feature-media_masthead {
  position: relative;
  background: $color-bg-footer;
  width: 100%;
  text-align: center;
  clear: both;
  padding-bottom: $padding-image_ratio;
  min-height: 300px;
  overflow: hidden;

  iframe {
    position: absolute;
    height: 90%;
    width: 80%;
    top: 5%;
    left: 10%;
    z-index: 100;

    @media only screen and (max-width: $screen-smallest) {
      width: 96%;
      left: 2%;
    }
  }

  .media_masthead-background {
    @extend .background-blur;

    position: absolute;
    width: 100%;
    height: 100%;
  }
}
