//Masthead Posts
.feature-masthead_posts {
  position: relative;
  padding: 0;
  white-space: nowrap;
  height: 18em;
  text-align: center;
  overflow: hidden;

  .masthead_posts-control_prev, .masthead_posts-control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: .2em;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 34px;
    opacity: 0.8;
    cursor: pointer;
  }

  .masthead_posts-control_next {
    right: 0;
  }

  .masthead_posts-slider {
    height: 100%;
    position: relative;

    .slider-listed_post {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: $color-secondary;
      display: inline-block;
      height: 100%;
      width: 40em;
      text-decoration: none;
      color: $color-white;
      position: relative;
      margin-left: -4px;

      .listed_post-overlay {
        @extend .image_overlay;
      }

      .listed_post-h3 {
        @extend .h3;

        font-family: $font-family-PTSerif;
        left: 0;
        bottom: 45px;
        text-align: center;
      }

      .listed_post-button_play {
        @extend .button-play;
      }

      .listed_post-button_play, .listed_post-h3, .listed_post-meta_title {
        position: absolute;
        z-index: 1;
        text-align: center;
        left: 0;
        width: 100%;
        text-shadow: $text-shadow-standard;
      }

      .listed_post-meta_title {
        @extend .meta_title;

        bottom: 20px;
        color: $color-white;
      }
    }
  }
}

//Archive Masthead
.feature-archive_masthead {
  background: $color-red-dark;
  padding: $padding-larger $padding-standard;
  color: $color-white;
  box-shadow: inset 0px 1px 130px black;
  text-shadow: $text-shadow-standard;
  position: relative;
  overflow: hidden;

  .archive_masthead-background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @extend .background-blur;
  }

  .archive_masthead-masthead_content {
    padding: $padding-standard;

    .masthead_content-archive_image {
      @extend .image-circular;

      width: 7.8em;
      height: 7.8em;
      margin-right: $margin-standard;

      @extend .no_mobile;
    }

    .masthead_content-archive_description {
      @extend .lead;
    }

    .masthead_content-archive_title {
      @extend h1;
    }
  }
}

//Popular Tags
.feature-popular_tags {
  background-color: $color-bg-footer;
  text-align: center;
  white-space: nowrap;

  .popular_tags-title {
    position: relative;
    padding: 25px 0;
    background-color: $color-bg-footer;
    padding-left: $padding-standard;
    padding-right: $padding-standard;
    color: $color-secondary;
    font-size: $font-size-medium;
    height: 100%;
    z-index: 1;
    float: left;

    &:after {
      content: ' ';
      position: absolute;
      width: 9px;
      height: 100%;
      top: 0;
      right: -9px;
      background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.14));
    }
  }

  .popular_tags-tag_content {
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      width: 9px;
      height: 100%;
      top: 0;
      right: 0;
      background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.14));
    }

    .tag_content-wrapper {
      overflow-x: scroll;
      white-space: nowrap;
      padding: 25px 0;

      .tag_content-title {
        @extend .meta_title;
        margin: 0 $padding-standard;
      }
    }
  }
}

//Content Stream
.feature-content_stream {
  .content_stream-post {
    background-color: #CDCDCD;
    height: 15em;
  }
}

//Social Button
.feature-social {
  background-color: #CDCDCD;
  text-align: center;

  .btn {
    margin: 1em;
  }

  .fa-facebook {
    padding: 9px 11px;
  }
}

.sharing_content-wrapper {
  background-color: rgba(0, 0, 0, 0.54);
  position: absolute;
  margin: 0px 13px;
  right: 1.5em;
  top: .95em;
  height: 0;
  overflow: hidden;

  a {
    padding: .3em .3em;
    font-size: 16px;
    display: table-cell;

    i {
      color: white;
    }

    &:last-child {
      border-left: 1px solid black;
    }

    &:first-child {
      border-left: 1px solid black;
    }
  }
}

.showing_page-sharer {
  -webkit-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -moz-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -ms-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -o-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  max-height: 500px;
  height: auto;
  overflow: visible;
  padding: 0.05em 0.1em;

  a {
    &:last-child {
      border-left: 1px solid black;
    }

    &:first-child {
      border-left: 1px solid black;
    }
  }
}

.triangle_right {
  top: 8px;
  right: -79.5px;
}

//Page Sharer
.feature-page_sharer {
  text-align: center;
  position: static;
  -webkit-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -moz-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -ms-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -o-transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  transition: all 300ms cubic-bezier(0.675, 0.17, 0.245, 0.795);
  padding-top: 8em;

  .page_sharer-share_button {
    @extend .button;
    @extend .button-large; 
    @extend .button-circle;
    #share_button-social_modal {
      display: none;
      text-align: center;
    }
  }

  button:focus {
    outline: 0;
  }
}

//404 Notice
.feature-404_notice {
  padding: $padding-standard 0;
  height: 500px;
  font-size: $font-size-medium;

  p {
    @extend .lead;
  }
}

.fancybox {}