.header {
  background-color: $color-white;
  font-family: $font-family-Roboto;
  padding: $padding-standard 0;
  border-bottom: $border-standard;
  z-index: 1000;
  width: 100%;
  .header-content {
    @extend .table;
    width: 100%;
    max-width: $screen-large;
    margin: 0 auto;
    padding: 0 10px;
    @media only screen and (max-width: $screen-small) {
      display: block;
    }
    a {
      color: $color-secondary;
      text-decoration: none;
      font-weight: $font-weight-medium;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      &:hover{
        text-decoration: underline;
      }
    }
    .content-logo, .content-navigation {
      @extend .table-cell;
      vertical-align: middle;
    }
    .content-logo {
      width: 25%;
      padding-right: $padding-small;
      @media (max-width: $screen-medium) {
        width: 210px;
      }
      img{
        width: 100%;
        max-width: 250px;
        height: auto;
      }
    }
    .content-navigation {
      width: 75%;
      @media only screen and (max-width: $screen-small) {
        display: block;
        width: 100%;
        overflow: hidden;
        height: 0;
      }        
      .navigation-tag_line{
        font-family: $font-family-Lobster;
        color: $color-base;
        font-size: $font-size-larger;
        padding: $padding-small 0;
        border-bottom: $border-standard;
        @media only screen and (max-width: $screen-small) {
          display: none;
        }
        .tag_line-button{
          float: right;
          img{
            width: 85px;
            height: 30px;
          }
        }
        .tag_line-user{
          display: inline-block;
          float: right;
          font-family: $font-family-Roboto;
          font-size: $font-size-small;
          .user-logout{
            @extend .button, .button-small;
            padding: 4px;
            margin-left: 10px;
          }
        }
      }
      .navigation-links{
        padding: $padding-small 0;
        text-align: right;
        @media only screen and (max-width: $screen-small) {
          text-align: left;
          padding-bottom: 0;
        }

        ul{
          display: inline-block;
          list-style: none;
          margin: 0;
          padding: 0;
          @media only screen and (max-width: $screen-small) {
            display: block;
            width: 100%;
          }
          li{
            display: inline-block;
            padding-left: $padding-small;
            &:first-of-type{
              padding-left: 0;
            }            
            @media only screen and (max-width: $screen-small) {
              width: 100%;
              padding-left: 0;
            }
            a{
              @media only screen and (max-width: $screen-small) {
                display: block;
                width: 100%;
                font-size: $font-size-larger;
                padding: $padding-standard 0;
                border-bottom: $border-standard;
              }
            }
          }
        }
        .links-primary{
          float: left;
        }
        .links-social{
          padding-right: 3em; 
          @media only screen and (max-width: $screen-small) {
            display: none;
          }
        }
        .links-site_search {
          cursor: pointer;
          display: inline-block;
          margin-top: -16px;
          margin-left: $padding-small;
          position: absolute;
          right: 0;
          @media only screen and (max-width: $screen-small) {
            position: relative;
            margin: 0;
            width: 100%;
            padding: 0 $padding-small $padding-small $padding-small;
	      }
          .site_search-form {
            display: inline-block;
            position: relative;
            height: 30px;
            top: 10px;
            right: 0;
            @media only screen and (max-width: $screen-small) {
	          display: block;
              padding-top: $padding-standard;
              top: 0px;
              box-shadow: none !important;
              height: inherit;
              width: 100%;
	        }
            input {
              font-family: $font-family-Roboto;
              height: 100%;
              border: none;
              width: 0;
              font-size: $font-size-smaller;
              border-right: $border-radius-standard;
              padding: 0;
              transition: width .2s, margin-right .2s, padding .2s;
              &:focus {
                outline: none;
              }
              @media only screen and (max-width: $screen-small) {
                width: 90%;
                padding: $padding-small;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                font-size: $font-size-medium;
              }
            }
            button {
              position: relative;
              height: 100%;
              width: 40px;
              cursor: pointer;
              letter-spacing: 0;
              font-size: $font-size-smaller;
              left: -7px;
              border: none;
              margin-right: -8px;
              background: none;
              color: $color-secondary;
              &:focus {
                outline: none;
              }
              @media only screen and (max-width: $screen-small) {
                padding: $padding-small;
                font-size: $font-size-medium;
                  color: $color-white;
                  background: $color-red-dark;
                  border-top-right-radius: $border-radius-standard;
                  border-bottom-right-radius: $border-radius-standard;
              }
            }
            &.active {
              @media only screen and (min-width: $screen-small + 1px) {
                cursor: default;
                left: -13px;
                box-shadow: -26px 0px 87px rgba(0, 0, 0, 0.2);
                input {
                  width: 80%;
                }
                button {
                  color: $color-white;
                  background: $color-red-dark;
                  border-top-right-radius: $border-radius-standard;
                  border-bottom-right-radius: $border-radius-standard;
                }
              }
            }
          }
        }
      }
    }
    .content-mobile_toggle{
      display: none;
      float: right;
      .mobile_toggle-action{
        font-size: $font-size-largest;
        color: $color-secondary;     
      } 
    }
    .content-logo, .content-mobile_toggle{
      @media only screen and (max-width: $screen-small) {
        display: inline-block;
      }  
    }         
  }
}







/*

    .navigation-main {
      margin: 0;
      padding: 0;
      display: table-cell;
      transition: .2s opacity;

      &.faded {
        opacity: .5;
      }

      @media only screen and (max-width: $screen-small) {
        position: absolute;
        z-index: 1000;
        background-color: white;
        left: 0;
        width: 100%;
        text-align: center;
        top: 4.3em;
        background-color: $color-secondary;
        height: 0;
        overflow: hidden;
      }

      .navigation-disabled {
        @media only screen and (min-width: $screen-small) {
          color: $color-disabled !important;
          pointer-events: none;
          -webkit-transition: all 600ms ease;
          -moz-transition: all 600ms ease;
          -ms-transition: all 600ms ease;
          -o-transition: all 600ms ease;
          transition: all 600ms ease;
        }
      }

      .navigation-enabled {
        @media only screen and (min-width: $screen-small) {
          color: $color-secondary !important;
          pointer-events: auto;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;
        }
      }

      li {
        color: $color-active;
        list-style-type: disc;
        float: left;
        margin-left: $margin-standard;

        @media only screen and (max-width: $screen-small) {
          float: initial;
          list-style-type: none;
          margin: 0;
          border-bottom: white 1px solid;
        }

        &:first-child {
          list-style-type: none;
          margin: 0;
        }

        a {
          @media only screen and (max-width: $screen-small) {
            color: white !important;
            padding: 1em 0;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }


    #navigation-toggle_area {
      vertical-align: middle;
      padding: $padding-standard;
      display: none;
      text-align: right;
      padding-right: 60px;

      @media (max-width: $screen-small) {
        display: table-cell !important;
      }

      .toggle_area-toggle_button {
        @extend .fa, .fa-bars;

        cursor: button;

        &:active {
          opacity: .7;
        }
      }
    }

    .navigation-active {
      z-index: 20;
      opacity: 1;
      transition: opacity all 500ms ease;
      -moz-transition: opacity all 500ms ease;
      -webkit-transition: opacity all 500ms ease;
      display: table-cell;
      position: absolute !important;
    }

    .navigation-inactive {
      z-index: 20;
      opacity: 0;
      transition: opacity all 500ms ease;
      -moz-transition: opacity all 500ms ease;
      -webkit-transition: opacity all 500ms ease;
      display: none;
      position: absolute !important;
    }
  }
}
*/