//Frontpage Layout
.layout-front_page{
  position: relative;
  .front_page-top_content, .front_page-bottom_content{
    @extend .container;
  }
  .front_page-top_content{
    @extend .table;
    padding-bottom: $padding-standard;
    @media (max-width: $screen-large) {
      padding: 0 $padding-small $padding-small $padding-small;
    }
    @media (max-width: $screen-small) {
      display: block;
    }
    .top_content-featured_voice, .top_content-recent_posts{
      @extend .table-cell;
      @media (max-width: $screen-small) {
        display: block;
      }
    }    
    .top_content-featured_voice{
      width: 65%;
      padding-right: $padding-standard;
      @media (max-width: $screen-medium) {
        width: 60%;
      }
      @media (max-width: $screen-small) {
        width: 100%;
        padding-right: 0;
      }
      .featured_voice-label{
        position: absolute;
        z-index: 8;
        display: inline-block;
        font-size: $font-size-large;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        background: $color-vibrant_blue;
        color: $color-white;
        padding: $padding-small $padding-standard;
        left: -$padding-standard;
        top: 35px;
        @media (max-width: $screen-large) {
          left: -$padding-small;
        }
        @media (max-width: $screen-small) {
          top: 10px;
        }
        &:before{
          content: ' ';
          height: 0;
          border-top: $padding-standard solid transparent;
          border-bottom: $padding-standard solid transparent;
          border-left: $padding-standard solid #32c4ee;
          opacity: .6;
          position: absolute;
          top: 33px;
          transform: rotate(180deg);
          left: 0px;
        }
      }
    }    
    .top_content-recent_posts{
      width: 35%;
      @media (max-width: $screen-medium) {
        width: 40%;
      }
      @media (max-width: $screen-small) {
        width: 100%;
      }
    }
  }
  .front_page-center_content{
    position: relative;
    background: $color-purple;
    box-shadow: inset 0px 1px 130px black;
    overflow: hidden;
    .center_content-content{    
      @extend .table, .container, .container.container-medium;
      padding: $padding-large 0;
      z-index: 2;
      @media (max-width: $screen-medium) {
        width: 100%;
        padding: $padding-large $padding-small;
      }
      @media (max-width: $screen-small) {
        display: block;
        padding: $padding-small;
      }
      .content-info_area, .content-quick_links{
        @extend .table-cell;
        @media (max-width: $screen-small) {
          display: block;
          width: 100% !important;
        }
      }
      .content-info_area{
        width: 85%;
        background: $color-white;
        border-radius: $border-radius-standard;
        padding: $padding-standard;
        box-shadow: $box-shadow-standard;
        h3{
          margin-top: 0;
        }
        a{
          color: $color-blue;
        }
      }
      .content-quick_links{
        width: 15%;      
        padding-left: $padding-standard;
        @media (max-width: $screen-small) {
          padding-top: $padding-small;
          padding-left: 0;
        }
        .quick_links-single{
          display: block;
          width: 100%;
          background: $color-purple;
          border: 1px solid rgba(255, 255, 255, 0.45);
          border-radius: $border-radius-standard;
          color: $color-white;
          font-size: $font-size-small;
          font-weight: $font-weight-bold;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          box-shadow: $box-shadow-standard;
          transition: .2s box-shadow;
          padding: $padding-small;
          margin-bottom: $margin-smaller;
          &:hover{
            box-shadow: $box-shadow-large;
          }
          i{
            display: block;
            font-size: 40px;
          }
        }
      }
    }
    .center_content-background{
      @extend .background-blur;
      z-index: 1;
    }
  }
}

//Single Layout
.layout-single{
  background: $color-white;
  padding-bottom: $padding-standard;
  .single-container {
    @extend .container;   
    @media only screen and (max-width: $screen-large) {
      padding: 0 $padding-small;
    }
    .container-content{
      @extend .table;   
      width: 100%;
      @media only screen and (max-width: $screen-small) {
        display: block;
      }
      .content-loop_content, .content-feature{
        @extend .table-cell;
        @media only screen and (max-width: $screen-small) {
          width: 100% !important;
          display: block;
        }
      }
      .content-loop_content{
        width: 65%;
        padding-right: 2%;
      }
      .content-feature{
        width: 35%;
      }
    }
    .container-feature{
      @extend .container;
    }
  }
}

//Archive Layout
#layout-archive{
  padding: $padding-standard;
  .archive-loop_content{
    @extend .container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .loop_content-listed_medium{
      width: 48%;
      &:nth-of-type(odd){
        margin-right: 2%; 
      }
    }
  }
  .archive-notice{
    width: 100%;
  }
  @media only screen and (max-width: $screen-small) {
    .archive-loop_content{
      .loop_content-listed_medium{
        margin-right: 0 !important;
        width: 100%;
      }
    }
    .archive-notice{
      width: 100%;
    }
  }
  @media only screen and (max-width: $screen-smallest) {
    .archive-loop_content{
      width: 100%;
    }
  }
}

// Page Layout

.layout-page {
  padding: $padding-standard 0;
  @media only screen and (max-width: $screen-large) {
    padding: $padding-standard;  
  }
  .loop_content-single_page {
    @extend .container, .container-medium;
    padding: $padding-large;
    border: $border-standard;
    background: $color-white;
    line-height: $line-height-standard;
    min-height: 70vh;
    .single_page-title{
      @extend h1;
      margin-top: 0;
      padding-bottom: $padding-standard;
      border-bottom: $border-standard;
    }
  }
}
