//Loop Content Globals
.loop_content-pagination {
  padding: $padding-standard;
  .pagination-newer_posts {
    float: right;
  }
}
.loop_content-listed_medium, .loop_content-listed_large, {
  font-family: $font-family-PTSerif;
  background: $color-white;
  -webkit-box-shadow: $box-shadow-standard;
  -moz-box-shadow: $box-shadow-standard;
  box-shadow: $box-shadow-standard;
  border-radius: $border-radius-standard;
  overflow: hidden;
  padding: 0;
  .listed_large-excerpt, .listed_medium-excerpt {
    color: $color-base;
    text-decoration: none;
    .the_excerpt {
      top: 26%;
      padding: $padding-standard;
    }
  }

}
.listed_post-featured_image, .listed_large-featured_image, .listed_medium-featured_image{
  display: block;
  position: relative;
  background-color: $color-secondary;
  padding-bottom: $padding-image_ratio;
  width: 100%;
  .featured_image-image, .featured_image-unscaled_image{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: absolute;
  }
  .featured_image-unscaled_image{
    z-index: 2;
    background-size: auto 90%;
    background-position-y: center;
  }
  .featured_image-badge, .featured_image-play_button{
    position: absolute;
    z-index: 10;
    right: $padding-standard;
    top: $padding-standard;
  }
  .featured_image-play_button{
    @extend .button-play;
  }
}

//Listed - Medium Loop Content
.loop_content-listed_medium {
  margin-bottom: $margin-standard;
  .button-play {
    font-size: $font-size-small;
  }
  .listed_medium-featured_image{
    text-decoration: none;
    .featured_image-title {
      @extend h3;
      position: absolute;
      padding: $padding-standard;
      color: $color-white;
      bottom: 0;
      z-index: 9;
      color: $color-white;
      text-shadow: $text-shadow-standard;
    }   
    .featured_image-overlay{
      @extend .image_overlay;
      z-index: 8;
    }
  }
  .listed_medium-post_footer {
    display: table;
    width: 100%;
    overflow: hidden;
    padding: 14px $padding-standard;
    border-top: $border-standard;
    .post_footer-meta {
      display: table-cell;
      vertical-align: middle;
      @extend .meta_title;
    }
  }
  .listed_medium-excerpt{
    padding-bottom: $padding-image_ratio;
    display: block;
    position: relative; 
    .excerpt-title{
      @extend h4; 
      width: 100%;
      padding-top: $padding-standard;
      position: absolute;
    }
    .excerpt-badge{
      position: absolute;
      right: $padding-standard;
      top: $padding-standard;
    }
  }
}

//Listing - Large Loop Content
.loop_content-listed_large {
  margin: $margin-standard 0;
  position: relative;
  .listed_large-post_content {
    padding: $padding-standard;
    .post_content-excerpt {
      @extend .lead;
      @media only screen and (max-width: $screen-medium) {
        p {
          margin-top: 0;
        }
      }
    }
    .post_content-title {
      @extend h2;
      color: $color-primary;
      text-decoration: none;
      .title-badge{
        float: right;
      }
    }
    .post_content-meta {
      @extend .meta_title;
      padding: .5em 0;
    }
  }
  .listed_large-post_footer {
    padding: $padding-standard;
    font-family: $font-family-Roboto;
    background-color: $color-bg-footer;
    display: table;
    width: 100%;
    font-size: $font-size-medium;
    .post_footer-author, .feature-sharing_options {
      display: table-cell;
      vertical-align: middle;
      @media only screen and (max-width: $screen-smallest) {
        display: table-cell !important;
        float: none !important;
        width: inherit !important;
        margin: 0;
      }
    }
    .feature-sharing_options {
      text-align: right;
      text-align-last: right;
    }
    .post_footer-author_info {
      display: inline-block;
    }
  }
}

//Single Post Styles
.loop_content-single_post {
  .single_post-post_meta{
    width: 100%;
    .post_meta-share_links{
      text-align: right;
    }
    .post_meta-share_links, .post_meta-post_info {
      @media only screen and (max-width: $screen-small) {
        display: block;
        text-align: left;
      }
    }
  }    
  @media (max-width: $screen-small) {
    .single_post-comments{
      .comments-comment_entry{
        .comment_entry-comment_form{
          width: 100%;
        }
        .comment_entry-user_favicon{
          display: none;
        }
      }
      .comments-comment_list{
        .single_comment-user_favicon{
          display: none;
        }
      }
    }
  }
  .single_post-author_info {
    position: relative;
    margin-top: $margin-standard;
    .author_info-badge {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .single_post-post_meta {
    @extend .meta_title;
    width: 100%;
    border-bottom: $border-standard;
    border-top: $border-standard;
    padding: $padding-standard 0;
    position: relative;
    .post_meta-divider {
      margin: 0 $margin-smaller;
    }
  }
  .single_post-the_content {
    line-height: $line-height-standard;
    font-size: $font-size-medium;
    margin-bottom: $margin-standard;
    h1, h2, h3, h4 {
      margin: 1em 0;
    }
    iframe {
      max-width: 100% !important;
    }
  }
  .single_post-sharing_options {
    border-top: $border-standard;
    padding: $padding-standard 0;
  }
  /*
  .single_post-comments {
    font-family: $font-family-Roboto;
    font-size: $font-size-medium;
    h3 {
      font-weight: bold;
      border-top: $border-thick;
      color: $color-secondary;
      padding: $padding-smaller 0;
      margin-bottom: 0;
    }
    .comments-comment_entry {
      margin-bottom: $margin-standard;
      padding: $padding-smaller 0;
      .comment_entry-comment_form {
        width: 80%;
        float: left;
        .comment_form-input_group {
          position: relative;
          margin-bottom: $margin-standard;
          .input_group-input {
            font-size: 18px;
            padding: 0 10px 10px 5px;
            display: block;
            width: 100%;
            resize: none;
            border: none;
            border-bottom: 1px solid #757575;
            &:focus {
              outline: none;
            }
            &:focus ~ .input_group-label {
              top: -20px;
              font-size: 14px;
            }
            &:focus ~ .input_group-bar:before, &:focus ~ .input_group-bar:after {
              width: 50%;
            }
            &:focus ~ .input_group-highlight {
              -webkit-animation: inputHighlighter 0.3s ease;
              -moz-animation: inputHighlighter 0.3s ease;
              animation: inputHighlighter 0.3s ease;
            }
          }
          .input_group-label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
          }
          .input_group-bar {
            position: relative;
            display: block;
            width: 100%;
            &:before, &:after {
              content: '';
              height: 2px;
              width: 0;
              bottom: 1px;
              position: absolute;
              background: #5264AE;
              transition: 0.2s ease all;
              -moz-transition: 0.2s ease all;
              -webkit-transition: 0.2s ease all;
            }
            &:before {
              left: 50%;
            }
            &:after {
              right: 50%;
            }
          }
          .input_group-highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
          }
          @-webkit-keyframes inputHighlighter {
            from {
              background: #5264AE;
            }
            to {
              width: 0;
              background: transparent;
            }
          }
          @-moz-keyframes inputHighlighter {
            from {
              background: #5264AE;
            }
            to {
              width: 0;
              background: transparent;
            }
          }

          @keyframes inputHighlighter {
            from {
              background: #5264AE;
            }
            to {
              width: 0;
              background: transparent;
            }
          }
        }
        .comment_form-submit {
          @extend .button;
          margin-right: $margin-standard;
        }
        .comment_entry-cancel {
          @extend .button-inline
        }
      }
      .comment_entry-user_favicon {
        float: right;
        @extend .image-circular
      }
    }
    .comments-comment_list {
      .comment_list-single_comment {
        &:nth-child(odd) {
          background: $color-bg-footer;
        }
        .single_comment-comment_meta {
          width: 15%;
          padding: $padding-smaller;
          color: $color-secondary;

          .comment_meta-comment_time {
            font-size: $font-size-small;
          }
        }

        .single_comment-comment_content {
          width: 70%;
          padding: $padding-smaller;
          p {
            margin-top: 0;
          }
          .comment_content-comment_author {
            color: $color-secondary;
            font-size: $font-size-small;
          }
        }
        .single_comment-user_favicon {
          width: 15%;
          margin: $padding-smaller;
        }
      }
    }
  }
  */
  
}

//Post Images
.loop_content-post_media{
  width: 40%;
  min-width: 300px;
  float: right;
  padding: $padding-standard 0 $padding-standard $padding-standard;
  font-size: $font-size-small;
  line-height: 1em;
  &.full_width{
    width: 100%;
    float: none;
    padding: 0;
    font-size: $font-size-smaller;
  }
  @media only screen and (max-width: $screen-smallest) {
    width: 100%;
    min-width: inherit;
  }
  .post_media-image_item, .post_media-audio_item, .post_media-embed_code{
    margin-bottom: $margin-standard;
    .image_item-meta, .audio_item-meta{
      padding: $padding-small;
      background: $color-bg-footer;
      .meta-credit{
        color: $color-secondary;
      }
      p{
        margin-top: 0;
      }
    }
  }
  .post_media-image_item{
    .image_item-thumb{
      .thumb-image{
        width: 100%;
        height: auto;
      }
    }
  }
  .post_media-audio_item{
    background:linear-gradient(#a0a0a0 100%, #ebebeb 0%);
    position: relative;
    padding-top: 3em;
    .audio_item-player{
      display: block;
      padding: 0 $padding-small;
      width: 100%;
      margin-bottom: 3em;
    }
  }
}